
body {
    .hide-it {
        display: none;
    }
    .autocomplete {
        position: relative;
        input {
            display: block;
            border-radius: 5px;
            height: 25px;
            width: 130px;
        }

        span {
            background-color: white;
            border-radius: 5px;
            border: 1px solid black;
            min-width: 134px;
            color: black;
            cursor: default;
            display: inline-block;
            z-index: 5;
            &.hide-it {
                display: none;
            }
        }

        div {
            position: absolute;
            top: 32px;
            left: 2px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid black;
            margin: 0;
            padding: 0;
            z-index: 5;
            ol {
                margin: 0;
                padding: 0;
                min-width: 134px;
                li {
                    cursor: pointer;
                    color: black;
                    list-style-position: inside;
                    list-style: none;
                    &.highlighted {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }
}