body .hide-it {
  display: none;
}
body .auto-drop-complete {
  font-family: Monaco, Tahoma;
  font-size: 12pt;
  position: relative;
}
body .auto-drop-complete input {
  display: block;
  border-radius: 5px;
  height: 25px;
  width: 130px;
}
body .auto-drop-complete div {
  position: absolute;
  top: 32px;
  left: 2px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  z-index: 5;
}
body .auto-drop-complete div ol {
  margin: 0;
  padding: 0;
  min-width: 134px;
}
body .auto-drop-complete div ol li {
  cursor: pointer;
  color: black;
  list-style-position: inside;
  list-style: none;
  text-align: left;
}
body .auto-drop-complete div ol li.highlighted {
  background-color: black;
  color: white;
}
body .auto-drop-complete div ol li.ignore {
  cursor: default;
}
